{% load bootstrap5 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-5">
    {#    TODO: Get version number programmatically #}
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Git Grade (alpha: 0.1.0)</a>
        <div class="justify-content-end">
            {% if GITHUB_TOKEN %}
                <button disabled class="btn btn-success">
                    Signed In to Github
                </button>
            {% else %}
                <a class="btn btn-outline-success" href="{{ GITHUB_SSO_URL }}">
                    Sign in with Github
                </a>
            {% endif %}
        </div>
    </div>
</nav>
<div class="container">
    <div class="row mt-5">
        <div class="col">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>