{% load bootstrap5 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<nav class="navbar navbar-expand-lg navbar-light bg-light px-5">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Git Grade (alpha: {{ GITGRADE_VERSION }})</a>
        <div class="justify-content-end">
            {% if GITHUB_TOKEN %}
                <button disabled class="btn btn-success">
                    Signed in to Github
                </button>
            {% else %}
                <a class="btn btn-outline-success" href="{{ GITHUB_SSO_URL }}">
                    Sign in with Github
                </a>
            {% endif %}
        </div>
    </div>
</nav>
<div class="container">
    <div class="row my-5">
        <div class="col">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
<footer class="footer navbar-light bg-light py-3">
    <div class="container">
        <span class="text-muted">
                PRs, feature requests, and feedback welcome:
                <a class="link-success" href="https://github.com/douglasryanadams/gitgrade">
                    https://github.com/douglasryanadams/gitgrade
                </a>
        </span>
    </div>
</footer>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TZ55Y10Q4E"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'G-TZ55Y10Q4E');
</script>
