{% extends "gitgrade/base.html" %}
{% load bootstrap5 %}

{% block content %}
    <div>
        {% if status == 'error' %}
            <section>
                <div class="alert alert-danger">{{ error_message }}</div>
            </section>
        {% endif %}
        <section>
            <form action='/result/' method='post'>
                {% csrf_token %}
                {% bootstrap_form form %}
                <div class="d-flex justify-content-center">
                    <input type="submit" class="btn btn-primary" value="submit">
                </div>
            </form>
        </section>
        <section class="pt-3">
            <p>
                Enter the link to a repository from Github to get a grade for that repository!
            </p>
        </section>
    </div>
{% endblock %}
