{% extends "gitgrade/base.html" %}
{% load bootstrap5 %}

{% block content %}
    <div>
        <section>
            <form action='/result/' method='post'>
                {% csrf_token %}
                {% bootstrap_form form %}
                <div class="d-flex justify-content-center">
                    <input type="submit" class="btn btn-primary" value="submit">
                </div>
            </form>
        </section>
        <section class="pt-3">
            <p>
                Enter the link to a repository from either Github or Bitbucket to get a grade for that repository!
            </p>
        </section>
    </div>
{% endblock %}
